@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #F9F9F9;
  --foreground: #354F52;
  --primary: #84A98C;
  --secondary: #354F52;
  --accent: #E76F51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
